@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes changeCoverTop {
  0% {
    background-image: url(/images/cover-top-1.png);
  }
  100% {
    background-image: url(/images/cover-top-2.png);
    opacity: 0.5;
  }
}

@keyframes changeCoverBottom {
  0% {
    background-image: url(/images/cover-bottom-1.png);
  }
  100% {
    background-image: url(/images/cover-bottom-2.png);
  }
}

.preLoaderGif {
  height: 100vh;
  width: 100vw;
  background-image: url(/images/desigual-lab-tipografia-faster.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer {
  width: 100vw;
  height: 93.75vw;
  display: flex;
  gap: 3.28vw;
  padding: 2.34375vw;
}

.coverTopInitial {
  animation: fadeIn 1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(/images/cover-top-1.png);
}

.coverTopFinal {
  animation: changeCoverTop 1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(/images/cover-top-2.png);
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.grayFilter {
  filter: grayscale(1);
}

/* .coverTopFinal::before {
  background-color:    #ffdd00;
  bottom:              0;
  content:             '';
  height:              100%;
  left:                0;
  mix-blend-mode:soft-light;
  position:            absolute;
  right:               0;
  top:                 0;
  width:               100%;
  z-index:             1;
} */

.logoPMF {
  position: absolute;
  right: 2.73vw;
  top: 2.73vw;
  width: 9.37vw;
  opacity: 0.5;
}

.contentContainer {
  width: 71.5vw;
  display: flex;
  flex-direction: column;
  gap: 3.28vw;
}

.containerBottom {
  height: 27.34vw;
  display: flex;
  align-items: flex-end;
}

.containerBottomBox {
  height: 27.34vw;
}

.contentBottom {
  width: 52.34vw;
  height: 21.4vw;
  border-bottom-right-radius: 18vw;
}

.coverBottomInitial {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/cover-bottom-1.png);
  border: 0.4vw solid #fff;
  animation: none;
}

.coverBottomFinal {
  border: none;
  animation: changeCoverBottom 1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/cover-bottom-2.png);
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.contentCircle {
  width: 13.125vw;
  height: 13.125vw;
  border-radius: 13.33vw;
}

.circleInitial {
    background-color: none;
    border: 0.4vw solid #fff;
}

.circleFinal {
    background-color: rgb(229, 196, 0, 0.9);
    border: none;
}


/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Mobile */
/* @media (max-width: 700px) {
  .main {

  }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .main {

  }
} */
